; Limail service file

[Unit]
Description=Limail server
After=network.target

[Service]
LimitNOFILE=83368
User=www-data
Group=www-data
EnvironmentFile=-/etc/limail/env
ExecStart=/usr/local/bin/limail
WorkingDirectory=/var/run/limail
PrivateTmp=true
PrivateDevices=true
DevicePolicy=closed
ProtectSystem=full
CapabilityBoundingSet=
NoNewPrivileges=true
Restart=always

[Install]
WantedBy=multi-user.target
